<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="true"
        cacheTokens="false"
        colors="true">
    <testsuites>
        <testsuite name="LtUpvoteBundle Test Suite">
            <directory phpVersionOperator=">=">Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="Lt\UpvoteBundle\Tests\AppKernel" />
    </php>
</phpunit>