<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LtUpvoteBundleTest page</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ltupvote/css/lt-upvote.css') }}">
</head>
<body>

<div class="ltu">
    <a class="ltu-upvote"></a>
    <span class="ltu-counter" data-ltu-id="13">126</span>
    <a class="ltu-downvote"></a>
</div>
<div class="ltu">
    <a class="ltu-upvote ltu-upvote-on"></a>
    <span class="ltu-counter" data-ltu-id="14">13</span>
    <a class="ltu-downvote"></a>
</div>
<div class="ltu">
    <a class="ltu-upvote"></a>
    <span class="ltu-counter" data-ltu-id="15">-3</span>
    <a class="ltu-downvote ltu-downvote-on"></a>
</div>


<script src="{{asset('/bundles/ltupvote/js/lt-upvote.js')}}"></script>
<script language="JavaScript"><!--
    ltupvote.init();
    //-->
</script>


</body>
</html>





