<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LtUpvoteBundleTest page</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ltupvote/css/lt-upvote.css') }}">
</head>
<body>

<h1 style="font-size: 16px">LtUpvoteBundle test configuration</h1>

<p style="margin-bottom: 10px">Try to upvote/downvote the following item, then reload this page and see if it works. The result should stay the same. </p>

<div class="ltu">
    <a class="ltu-upvote ltu-upvote-on"></a>
    <span class="ltu-counter">{{ voteManager.getTotal('test', '1') }}</span>
    <a class="ltu-downvote ltu-downvote-on"></a>
</div>


<script src="{{asset('/bundles/ltupvote/js/lt-upvote.js')}}"></script>
<script language="JavaScript"><!--
    ltupvote.init();
    //-->
</script>


</body>
</html>





