<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LtUpvoteBundleTest page</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ltupvote/css/lt-upvote.css') }}">
    <style>
        h1.test-header {
            font-size: 16px;
            margin: 11px;
        }

        div.test-container {
            border: 1px solid lightgray;
            margin: 10px;
        }

        div.test-contents {
            display: inline-block;
            vertical-align: middle;
            color: #2e6da4;
            font-size: 18px
        }
    </style>
</head>
<body>

<h1 class="test-header">LtUpvoteBundle test page (for dev environment only)</h1>


<div id="test-container-1" class="test-container">

<!-- Start LtUpvoteBundle component code-->
<div class="ltu">
    <div>
        <input type="checkbox" id="ltu-checkbox-upvote-1" class="ltu-hidden">
        <label for="ltu-checkbox-upvote-1" class="ltu-upvote"></label>
    </div>
    <span class="ltu-counter">0</span>
    <div>
        <input type="checkbox" id="ltu-checkbox-downvote-1" class="ltu-hidden">
        <label for="ltu-checkbox-downvote-1" class="ltu-downvote"></label>
    </div>
</div>
<!-- End LtUpvoteBundle component code-->


<div class="test-contents">Your main focus for today</div>
</div>


<div id="test-container-2" class="test-container">

    <!-- Start LtUpvoteBundle component code-->
    <div class="ltu">
        <div>
            <input type="checkbox" id="ltu-checkbox-upvote-2" class="ltu-hidden">
            <label for="ltu-checkbox-upvote-2" class="ltu-upvote"></label>
        </div>
        <span class="ltu-counter">0</span>
        <div>
            <input type="checkbox" id="ltu-checkbox-downvote-2" class="ltu-hidden">
            <label for="ltu-checkbox-downvote-2" class="ltu-downvote"></label>
        </div>
    </div>
    <!-- End LtUpvoteBundle component code-->


    <div class="test-contents">Daily weather forecast for your location</div>
</div>


<script src="{{asset('/bundles/ltupvote/js/lt-upvote.js')}}"></script>
<script language="JavaScript"><!--
    ltupvote.init();
    //-->
</script>



</body>
</html>





