
div.ltu {
    text-align: center;
    background: #f9f9f9;
    display: inline-block;
    vertical-align: middle;
}

input[type=checkbox].ltu-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input[type=checkbox].ltu-hidden ~ label.ltu-upvote::before {
    content: '';
    display: inline-block;
    text-align: center;
    width: 1em;
    vertical-align: bottom;
    height: 1em;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"> <path id="up_off" d="m0,12l8,-8l8,8l-16,0z" fill="#ddd"/></svg>');
    background-repeat:no-repeat;
}

input[type=checkbox].ltu-hidden:checked ~ label.ltu-upvote::before {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"> <path id="up_off" d="m0,12l8,-8l8,8l-16,0z" fill="#d52"/></svg>');
}

input[type=checkbox].ltu-hidden ~ label.ltu-downvote::before {
    content: '';
    display: inline-block;
    text-align: center;
    width: 1em;
    vertical-align: bottom;
    height: 1em;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"> <path id="dn_off" d="m0,4l8,8l8,-8l-16,0z" fill="#ddd"/> </svg>');
    background-repeat:no-repeat;
}

input[type=checkbox].ltu-hidden:checked ~ label.ltu-downvote::before {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"> <path id="dn_off" d="m0,4l8,8l8,-8l-16,0z" fill="#59d"/> </svg>');
}

.ltu-counter {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    display:inline-block;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 20px;
    text-align: center;
    font-size: 16px;
}
