a.ltu-upvote {
    display:inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"> <path id="up_off" d="m0,12l8,-8l8,8l-16,0z" fill="#ddd"/></svg>');
    background-repeat:no-repeat;
    cursor: pointer;
}

a.ltu-upvote-on {
    color: white;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"> <path id="up_on" d="m0,12l8,-8l8,8l-16,0z" fill="#d22"/> </svg>');
}

a.ltu-downvote {
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    color: orange;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"> <path id="dn_off" d="m0,4l8,8l8,-8l-16,0z" fill="#ddd"/> </svg>');
    background-repeat:no-repeat;
    cursor: pointer;
}

a.ltu-downvote-on {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"><path id="dn_on" d="m0,4l8,8l8,-8l-16,0z" fill="#a9f"/></svg>');
}

.ltu-counter {
    display:inline-block;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 20px;
    text-align: center;
    font-size: 16px;
}