/* upvote/downvote checkboxes are hidden, we style checkbox labels instead */
input[type=checkbox].ltu-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/* DEFAULT STYLE */
div.ltu {
    text-align: center;
    background: #f9f9f9;
    display: inline-block;
    vertical-align: middle;
}

/* vertical layout */
div.ltu-upvote {
}

div.ltu-downvote{
}

/* upvote off */
input[type=checkbox].ltu-hidden ~ label.ltu-upvote::before {
    content: '';
    display: inline-block;
    text-align: center;
    width: 1em;
    vertical-align: bottom;
    height: 1em;
    background: no-repeat url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m0,12l8,-8l8,8l-16,0z" fill="rgb(208,208,208)"/></svg>');
}

/* upvote on */
input[type=checkbox].ltu-hidden:checked ~ label.ltu-upvote::before {
    background: no-repeat url('data:image/svg+xml;utf8,<svg width="16" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m0,12l8,-8l8,8l-16,0z" fill="rgb(208,80,32)"/></svg>');
}

/* downvote off */
input[type=checkbox].ltu-hidden ~ label.ltu-downvote::before {
    content: '';
    display: inline-block;
    text-align: center;
    width: 1em;
    vertical-align: bottom;
    height: 1em;
    background: no-repeat url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path id="dn_off" d="m0,2l8,8l8,-8l-16,0z" fill="rgb(208,208,208)"/></svg>');
}

/* downvote on */
input[type=checkbox].ltu-hidden:checked ~ label.ltu-downvote::before {
    background: no-repeat url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path id="dn_off" d="m0,2l8,8l8,-8l-16,0z" fill="rgb(80,144,208)"/></svg>');
}

/* counter */
.ltu-counter {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    display:inline-block;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 20px;
    text-align: center;
    font-size: 16px;
}


/* STYLE1 STYLE */

/* horizontal layout */
div.ltu-upvote.style1 {
    display: inline-block;
}

div.ltu-downvote.style1 {
    display: inline-block;
}

/* upvote off */
input[type=checkbox].ltu-hidden ~ label.ltu-upvote.style1::before {
    display: inline-block;
    color: lightgray;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    height: 14px;
    min-width: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m5,12l6,-5l6,5" stroke="gray" fill="none" stroke-width="3"/></svg>');
    background-repeat: no-repeat;
}

/* upvote on */
input[type=checkbox].ltu-hidden:checked ~ label.ltu-upvote.style1::before {
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m5,12l6,-5l6,5" stroke="black" fill="none" stroke-width="3"/></svg>');
    background-repeat: no-repeat;
}

/* downvote off */
input[type=checkbox].ltu-hidden~ label.ltu-downvote.style1::before {
    display: inline-block;
    color: lightgray;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    height: 14px;
    min-width: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m5,7l6,5l6,-5" stroke="gray" fill="none" stroke-width="3"/></svg>');
    background-repeat: no-repeat;
}

/* downvote on */
input[type=checkbox].ltu-hidden:checked ~ label.ltu-downvote.style1::before {
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="32" xmlns="http://www.w3.org/2000/svg"><path id="up_off" d="m5,7l6,5l6,-5" stroke="black" fill="none" stroke-width="3"/></svg>');
    background-repeat: no-repeat;
}
/* counter */
.ltu-counter.style1 {
    display: inline-block;
    color: white;
    background-color: #37a;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 14px;
    min-width: 12px;
}
